* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}

body {
  font-size: 0;
  background-color: #242424;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mr02 {
  margin-right: 0.2vh;
}
