.content {
  position: absolute;
  display: inline-block;
  width: 70vw;
  height: 100vh;
}

.content .board {
  position: absolute;
  top: 10vh;
  left: 5vw;
  background-color: white;
  width: 55vw;
  height: 80vh;
  z-index: 1;
  border-radius: 30px;
  padding: 4vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content .back {
  position: absolute;
  right: 5vw;
  z-index: 0;
  background-color: #e83535;
  width: 10vw;
  height: 95vh;
  border-radius: 0 0 30px 30px;
}

/* Board Content */

.board .add {
  height: 5vh;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.board .add .btn {
  cursor: pointer;
  display: inline-block;
  width: 10%;
  height: 100%;
  background-color: #585858;
  border-radius: 30px 0 0 30px;
  color: white;
  font-size: 1vw;
  text-align: center;
  line-height: 5vh;
  font-weight: 900;
  transition: background-color 0.5s;
  border: none;
}

.board .add .btn:hover {
  background-color: #e83535;
}

.board .add .btn:focus {
  outline: none;
}

.board .add .input {
  float: right;
  height: 100%;
  width: 90%;
  font-size: 2vh;
  border: none;
  border-radius: 0 30px 30px 0;
  padding: 0 10px;
}

.board .task-list {
  margin-top: 2vh;
  height: 64vh;
  overflow-y: scroll;
  padding: 2vh;
}

.board .task-list .task {
  height: 5vh;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2vh;
  padding: 0 1vw;
  line-height: 5vh;
  font-size: 2vh;
}

.task .task-text {
  display: inline-block;
}

.task .task-check {
  display: inline-block;
  margin-right: 0.5vw;
}

.task .task-btns {
  height: 5vh;
  float: right;
}

.task .task-icon {
  cursor: pointer;
  padding: 1.1vh;
  height: 5vh;
}

.task-icon-ctn {
  border-radius: 100%;
  display: inline-block;
  height: 100%;
  transition: background-color 0.2s;
}

.task-icon-ctn:hover {
  background-color: #dddddd;
}

.task-icon-ctn:active {
  background-color: #9c9c9c;
}

.input:focus {
  outline: none;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}
